/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --fill-percentage {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

@property --border-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #5ddcff;
}